In [1]:
# importing all the necessary libraries

import sqlite3
import re

In [2]:
# creating a data base mail_box and then creating a cursor object

mail = sqlite3.connect('mail_box')
cursor = mail.cursor()

In [3]:
# Creating Counts table if previously exists

cursor.execute('''Drop table if exists Counts''')

In [4]:
# now creating a fresh table Counts

cursor.execute('''CREATE TABLE Counts (org TEXT, count INTEGER)''')

In [5]:
# logic to fetch all the Organistations name from the tect file "mbox.txt" and storing it to the Counts Table

fh = open('mbox.txt')

for line in fh:
    if not line.startswith('From '):
        continue
    pieces = line.split()[1]
    org = pieces.split('@')[1]
    
    cursor.execute('SELECT count FROM Counts WHERE org = ? ', (org, ))
    row = cursor.fetchone()
    if row is None:
        cursor.execute('''INSERT INTO Counts (org, count) 
                VALUES ( ?, 1 )''', (org, ))
    else : 
        cursor.execute('UPDATE Counts SET count=count+1 WHERE org = ?', 
            (org, ))

In [6]:
# printing all the observation in the Counts table in descending order as per count collumn

sqlstr = cursor.execute('''SELECT org, count FROM Counts order by count desc''')

for row in sqlstr:
    print(row[0], row[1])

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
txstate.edu 17
whitman.edu 17
lancaster.ac.uk 14
bu.edu 14
stanford.edu 12
unicon.net 9
loi.nl 9
rsmart.com 8
ucdavis.edu 1
fhda.edu 1
utoronto.ca 1